@model SISST.ViewModels.Comunes.Usuarios.VMUsuarioPassword
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Cambiar contraseña";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string claseBotonGuardar = Context.Session.GetString("claseBotonGuardar");
    string claseBotonCancelar = Context.Session.GetString("claseBotonCancelar");
}
@using SISST.ViewModels.Comunes.Usuarios
@using SISST.ViewModels.Privilegios

<div class="card card-default">
    <div class="card-header">
        <div class="row">
            <div class="col-8">
                <h3 class="pl-3">@ViewData["Title"]</h3>
                <ol class="breadcrumb mb-0 " style="background-color:white;">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Usuarios",  new { Area = "Comunes" })">Lista de usuarios</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Cambiar contraseña
                    </li>
                </ol>
            </div>
            <div class="col-4 text-right mt-3">
                @Html.ActionLink("Lista de usuarios", "Index", "Usuarios", null, new { @class = "btn btn_sistema" })
            </div>
        </div>
    </div>
</div>
<div class="card card-default">
    <h4 class="card-header">
        Cambiar contraseña
    </h4>
    <div class="card-body">
        @using (Html.BeginForm("ChangePassword", "Usuarios", FormMethod.Post, new { @class = "form-horizontal", role = "form", autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()
            @*Html.ValidationSummary(false, "Resumen de la validación: ")*@

            @Html.HiddenFor(model => model.Id )
            <div class="col-lg-12">
                <div class="form-group row">
                    @Html.LabelFor(model => model.RPE, htmlAttributes: new { @class = "col-md-2 pl-5 col-form-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.RPE, new { @readonly = "readonly", @class = "form-control" })
                        <br />
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "col-md-2 pl-5 col-form-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Nombre, new { @readonly = "readonly", @class = "form-control" })
                        <br />
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.Apellidos, htmlAttributes: new { @class = "col-md-2 pl-5 col-form-label " })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Apellidos, new { @readonly = "readonly", @class = "form-control" })
                        <br />
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "col-md-2 pl-5 col-form-label " })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control required" })
                        <br />
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.PasswordConfirm, htmlAttributes: new { @class = "col-md-2 pl-5 col-form-label " })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.PasswordConfirm, new { @class = "form-control required" })
                        <br />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class=" col-md-10 offset-2">
                    <div class="col-md-10 offset-2">
                        <button type="button" class="@claseBotonCancelar mr-1" onclick="location.href='@Url.Action("Index", "Usuarios", new { })'"><i class="fa fa-times pr-2"></i>Cancelar</button>
                        <button type="submit" class="@claseBotonGuardar mr-1"><i class="fas fa-save pr-2"></i> Guardar</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section Styles {
    <link rel="stylesheet" href="~/css/datatable.css" />
}
@section Scripts {
    <script src="~/js/select2.js"></script>
    <script src="~/js/datatable.js"></script>
    <script type="text/javascript">
            $(document).ready(function () {
                if ('@TempData["tipoMensaje"]' != "") {
                    toastr.options.positionClass = 'toast-bottom-right';
                    toastr['@TempData["tipoMensaje"]']('@TempData["mensaje"]');
                }
            });
    </script>


}

